@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}
*::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #21b5de00;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #158eb000;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #65c5e000;
}


:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300%; /* Ensure the background is large enough for the animation */
  background-image: linear-gradient(270deg, #1868e9, #3b85df, #054581); /* Example gradient colors */
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

.text-gradient {
  @apply bg-clip-text text-transparent animate-gradient; /* Ensure this class uses the animation */
}

#background-logo{
  background-image: url("../../images/TRELLO-BACKGROUND.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}